*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    width: 100%;
    height: 100%;
}

#main h1{
    font-size: 40px;
    color: black;
    text-align: center;
    padding: 10px 20px;
}
#main .text , .img{
    width: 50%;
    height: 400px;
    float: left;
    border: 1px solid #ddd;
}
.text p{
    font-size: 28px;
    padding: 30px;
    text-align: justify;
}
.img img{
    width: 100%;
    height: 380px;
    padding: 30px;
    align-items: center;
}

@media (max-width: 786px){
    #main h1{
        color: rgb(48, 48, 176);
    }
    .text p{
        font-size: 22px;
    }
}
@media (max-width: 480px){
    #main h1{
        color: purple;
        font-size: 32px;
    }
    #main .text , .img{
        width: 100%;
    }
    #main .text {
        height: auto;
    }
    .text p{
        font-size: 18px;
    }
}
@media (inverted-colors) {
    img { 
      filter: invert(50%);
    }
  }
